body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    caret-color: transparent;
}
body::-webkit-scrollbar {
	display: none;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
nav a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}
#account-btn {
    background-color: black;
    border: 2px solid antiquewhite;
    color: antiquewhite;
    padding: 0.7rem;
    cursor: pointer;
}
body::before {
    content: "";
    position: fixed; /* Fixed position */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Sit behind the content */
    
    background-image: url(../images/footballpitch-birdview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    /* Blur the background image */
    filter: blur(4px);
    transform: scale(1.02); /* to cover any gaps at the edges */
}
header, main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 1%;
}
nav button {
    font-size: 1rem;
    background: transparent;
    border: none;
    padding: 1rem;
}
.latest-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.post-summary {
    width: 22rem;
    color: black;
    background-color: rgba(250, 235, 215, 0.5);
    padding: 10px;
    border-radius: 10px;
}
#single-post-content {
    margin: auto;
    width: 50rem;
    margin-top: 5rem;
    color: black;
    background-color: rgba(250, 235, 215, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.post-summary a{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-summary a:hover {
    color: antiquewhite;
}
.featured-media {
    width: 18rem;
    max-height: 20rem;
    border-radius: 10px;
    padding: 2px;
}
.featured-media:hover{
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    margin-top: 5rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.branding h2 {
    margin: 0;
}

.footer-nav {
    display: flex;
    gap: 20px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav a:hover {
    font-size: 20px;
    text-decoration: none;
}

.social-media a img {
    height: 25px;
    margin-right: 10px;
}

/* Responsive for smaller screens */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .branding, .footer-nav, .social-media {
        margin-top: 10px;
    }
}
